/* Main stylesheet */
* {
    box-sizing: border-box;
}

html {
    background-image: url("../images/site_BG.png");
}

body {
    margin: 0 auto;
    width: 100%;
    width: 1240px;
    border: solid black;
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 15px 71px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 71px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 71px 5px rgba(0, 0, 0, 0.75);
}

body > header {
    width: 100%;
}

h2 {
    font-weight: normal;
    padding-left: 15px;
    font-family: Verdana;

}

body > header > nav > ul {
    display: table-row;
    background-color: black;
}

body > header > nav > ul > li {
    width: 300px;
    display: table-cell;
    text-align: center;
    color: white;
    padding: 10px;

}

body > header > nav > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: "Calibri Light";
    font-size: 1.2em;
}

body > header > nav > ul > li:hover, body > header > nav > ul > li:active {
    color: white;
    background-color: #494949;
}

canvas {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: block;
}

h1 {
    font-family: "Calibri Light";
    padding: 0px 20px 0px 20px;
}

h3 {
    font-family: "Calibri Light";
    display: block;
    padding: 0px 20px 0px 20px;
}

.slideshow {
    width: 100%;
    display: block;
}

p {
    font-family: "Calibri Light";
    width: 100%;
    display: block;
    padding: 0px 20px 0px 20px;
}

/* Form styles */
form label, form input, form select {
    margin: 5px 0px 10px 10px;
}

form {

    padding: 0px 5px 10px 5px;
    font-family: Verdana;
    font-size: 20px;
}

form label {
    width: 11em;
    text-align: right;
    font-family: Verdana;
    font-size: 14px;
}

form label.error {
    color: red;
}
form input {
    width: 12em;
    margin-left: 1em;
    margin-bottom: .5em;
}
